

    </div>
    <div id="map"></div>
    <!-- Large modal -->
<input value="Add parking to map"  style="margin: auto; font-weight: 500;" type="button" id="addMarkerbtn" class="btn col-xs-12" data-toggle="modal" >

<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
<br>
<strong>Select type of parking: </strong> 

<select id="grab">
  <option value="null"></option>
  <option value="metered parking">metered parking</option>
  <option value="free street parking">free street parking</option>
  <option value="paid parking lot">paid parking lot</option>
  <option value="free parking lot">free parking lot</option>
</select><br>
<p>
<!-- <i>Click on the map to add a parking spot!</i> -->
</form>
</p>
          </div>
  </div>
</div>

        
<br>
<br>
<br>